@page
@model CipherTest.Pages.Teachers.CreateTeacherModel

<h2>Add Teacher Information</h2>
<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div>
        <label>Name</label><br>
        <input name="Name" />
        <span asp-validation-for="Teacher.Name" class="text-danger"></span>
    </div>
    <div>
        <label>Age</label><br>
        <input name="Age" />
        <span asp-validation-for="Teacher.Age" class="text-danger"></span>
    </div>
    <div>
        <label>Sex</label><br>
        <input name="Sex" />
        <span asp-validation-for="Teacher.Sex" class="text-danger"></span>
    </div>
    <div>
        <label>Upload</label><br>
        <input type="file" name="ImagePath" />
        <span asp-validation-for="Upload" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
    @Model.Teacher
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
